<form action="/restaurants" method="POST">
	<label for="name">name:</label><br />
	<input type="text" id="name" name="name" value="Mcdonalds" /><br />
	<label for="imageLink">image link:</label><br />
	<input type="url" id="imageLink" name="imageLink" value="Mcdonald.png" /><br
	/><br />
	<input type="submit" value="Submit" />
</form>