<form action="/restaurants/{{restaurant.id}}/update" method="POST">
	<label for="name">name:</label><br />
	<input type="text" id="name" name="name" value="{{restaurant.name}}" /><br />
	<label for="imageLink">image link:</label><br />
	<input type="url" id="imageLink" name="imageLink" value="Mcdonald.png" /><br
	/><br />
	<input type="submit" value="Submit" />
</form>
<h1>{{id}}</h1>